[
    "grepcommonparams.txt", 
    "gitdepthotherbr.txt", 
    "vimonecopymutablepaste.txt", 
    "chartransferred.txt", 
    "iosencoding.txt", 
    "artifactsonmac.txt", 
    "shortcutsonmac.txt", 
    "developmentnotenabledwhilelocked.txt", 
    "githubuploadfileover100m.md", 
    "xcode-shortcuts.md", 
    "oc-class.md", 
    "node_update.md", 
    "commandline_softconnection.md", 
    "autobuild.md", 
    "unableinstalled-md.md", 
    "uiimageview_layer_corner.md", 
    "resourcefork.md", 
    "poderror-md.md", 
    "notfoundfileprovider-md.md", 
    "nsscroller.md", 
    "nsscrollviewsliding.md", 
    "nsextensionactivationrule.md", 
    "markdown_table.md", 
    "keycodes.md", 
    "gcd_syn_asyn.md", 
    "encode_update.md", 
    "documentnotautosaved.md", 
    "designpattern_singleton.md", 
    "designpattern_prototype.md", 
    "designpattern_factorymethod.md", 
    "designpattern_builder.md", 
    "designpattern_abstractfactory.md", 
    "closures.md", 
    "iosrunningnotsupported.txt"
]